html {
  scroll-behavior: smooth;
}

canvas{
  display: block;
  vertical-align: bottom;
}

.font-8bit {
  font-family: 'Ubuntu', sans-serif;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(17,17,17);
  background: linear-gradient(rgba(17,17,17,1) 0%, rgba(51,51,51,1) 100%);
}


#about { background: #ebebeb; }
#footer { background: #ebebeb; padding: 1rem 1rem; text-align: center; }
.jumbotron img { margin: 8rem 0 4rem 0; }
.padding { padding: 6rem 0 0 0; }
.padding-bottom { padding: 4rem 0 4rem 0; }
#projects { background: #222;}
.margin-bottom-large { margin-bottom: 6rem; }
#achievements { padding: 6rem 0; background: linear-gradient(#2ecc71, #27ae60);}
.projects .card { background-color: #1a1a1a; }
.container-60 { width: 60%; box-sizing: border-box; margin: auto; }
.img-icon { width: 200px; }

@media screen and (max-width: 1920px) {
  .padding { padding: 6rem 0 0rem 0; }

  .jumbotron img {
    margin: 4rem 0 11rem 0;
  }
}

@media screen and (max-width: 1600px) {
  .padding { padding: 6rem 0 6rem 0; }

  .jumbotron img {
    margin: 6rem 0 4rem 0;
  }
}

@media screen and (max-width: 1440px) {
  .padding { padding: 6rem 0 6rem 0; }

  .jumbotron img {
    margin: 4rem 0 4rem 0;
  }
}

@media screen and (max-width: 1360px) {
  .padding { padding: 6rem 0 6rem 0; }

  .jumbotron img {
    margin: 4rem 0 0rem 0;
  }
}

@media screen and (max-width: 480px) {
  .padding { padding: 6rem 0; }

  .jumbotron img {
    margin: 6rem 0 2rem 0;
  }

  .img-icon { width: 64px; }
  .container-60 { width: 95%; box-sizing: border-box; margin: auto; }
}